clean.sh
rm.sh
top.txt
top2.txt
datadir*
*.log
*.exe
*.orig
*.bak
.idea
.vscode
*.pprof
*.test
cmd/tools/tools
build/cert.pem
build/key.pem
build/datadir
build/para
build/execblock
build/relayd
build/relayd.toml
build/*.log
build/guodun
build/main.sh
build/main*
build/para.sh
build/ci
nohup.out
webhook
cmd/execblock/execblock
cmd/miner_accounts/miner_accounts
cmd/write/write
build/autotest/autotest
build/autotest/local/*
!build/autotest/local/autotest.sh
common/mavl/datastore
.DS_Store
common/.DS_Store
common/config/.DS_Store
executor/executor.test
logs/
build/wallet
plugin/store/kvmvcc/1.png
plugin/store/kvmvcc/cpu.pprof
plugin/store/kvmvcc/kvmvcc.test
plugin/store/mpt/1.png
plugin/store/mpt/cpu.pprof
plugin/store/mpt/mpt.test
system/store/mavl/1.png
system/store/mavl/cpu.pprof
system/store/mavl/mavl.test
